.contacts{
    margin-bottom: 55px;
    @media (min-width: @tablet__width){
        margin-bottom: 57px;
    }
    @media(min-width: @desktop__width){
        margin-bottom: 105px;
    }
}

.contacts__wrap{
    display: grid;
    
    @media(min-width: @desktop__width){
        grid-template-columns:  1fr 1fr;
        grid-template-rows:  repeat(3,auto);
        align-items: center;
        justify-items: center;
    }
}
.contacts__title{
    margin-top:38px; 
    font-size: 18px;
    line-height: 30px;
    @media (min-width: @tablet__width){
        font-size: 43px;
        line-height: 50px;
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            width: 47px;
            height:81px;
            top:-20px;
            right:0;
            background: url("/img/icon_flag.svg");
            background-repeat: no-repeat;
        }
    }
    @media(min-width: @desktop__width){
        font-size: 53px;
        line-height: 57px;
        margin-left: 77px;
        &::after{
            left:-77px;
        }
    }
}

.contacts__list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-row-gap:30px;
    grid-column-gap: 20px;
    @media (min-width: @tablet__width){
        justify-content: space-between;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: 1fr;
        font-size: 17px;
        line-height: 30px;
        margin: 50px 0;
    }
    @media(min-width: @desktop__width){
        margin:0 0 0 77px;
        justify-content: flex-start;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        grid-column-gap: 20px;
    }
}
.contacts__map{
    // justify-self: center;
    position: relative;
    &::after{
        content:" ";
        position: absolute;
        width: 67px;
        height: 100px;
        top:145px;
        left:300px;
        background:url("/img/map-pin.svg.svg");
        z-index:2;
    }
    @media(min-width: @desktop__width){
        grid-area:~"1 / 2 / 4 / 2"
    }
}



.contacts__btn{
    justify-self: center;
    align-self: center;
    margin:41px 0;
    @media (min-width: @tablet__width){
        margin:56px 0;
    }

}